.p{
    font-size:20px; 
    font-family:sans-serif; 
    text-align: center; 
    color:rgb(85,170,104);
}

.bagIcon img{
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 5%;
    overflow: hidden;

}

.description{
    text-align:center;
    display: block;
    background-color: rgba(232, 232, 234, 0.685);
    padding: 30px 20px;
    border-radius: 25px;
    margin-top: 0vh;
    margin-right: 64%;
    margin-bottom: 0;
    margin-left: 3%;
}

.description p{
    color: rgb(85,170,104);
    font-family: sans-serif;
    font-size: 25px;
}

.title{
    text-align:center;
    display: block;
    background-color: rgba(232, 232, 234, 0);
    padding: 0px 20px;
    border-radius: 25px;
    margin-top: 22vh;
    margin-right: 61%;
    margin-bottom: 0;
    margin-left: 0%;
}

.title h1{
    color: rgb(85,170,104);
    font-family: sans-serif;
    font-size: 70px;
    margin-bottom: 1vh;

}

.title h2{
    color: rgb(62, 119, 75);
    font-family: sans-serif;
    font-size: 35px;
    margin-top: 0vh;
    margin-bottom: 3vh;

}

.button {
    background-color: rgb(85,170,104);
    color: rgba(232, 232, 234);
    font-family:sans-serif;
    border-radius: 25px;
    border:none;
    font-size: 20px;
    padding: 12px;
    margin-top: 2vh;
    margin-right: 61%;
    margin-bottom: 0;
    margin-left: 14%;
}

.button:hover{
    background-color: rgb(62, 119, 75);
    color:rgb(177, 214, 190);
    font-weight: bold;
} 

@media screen and (max-width: 1200px) {
    div.bagIcon {
        max-width: 100%;
        display:block;
        text-align: center;
        margin-top: 2%;
    } 
    img.bagIcon {
        height: 65%;
        position: relative;
        bottom: 0;
    }
    div.title {
        max-width: 100%;
        margin-right: 0%;
    }
    div.buttonElement{
        max-width: 100%;
        margin-right: 0%;
        margin-left: 0%;
        text-align:center;
    }
    button.button{
        max-width: 100%;
        margin-right: 0%;
        margin-left: 0%;
    }
    div.description{
        max-width: 100%;
        margin-right: 0%;
        margin-left: 0%;
    }
} 

@media screen and (max-width: 550px) {
    div.bagIcon {
        display:none;
    }
} 
